APP_NAME=monitoring-service
HTTP_ADDR=0.0.0.0:8080
CORS_ALLOW_ORIGIN=*

POSTGRES_URL=postgres://postgres:postgres@localhost:5432/monitoring

RABBITMQ_URL=amqp://guest:guest@localhost:5672/%2f
RABBITMQ_EXCHANGE=monitoring.exchange
RABBITMQ_QUEUE=monitoring.queue
RABBITMQ_DLX=monitoring.dlx
RABBITMQ_DLQ=monitoring.queue.dlq
RABBITMQ_ROUTING_KEY=monitoring.event
RABBITMQ_DLQ_ROUTING_KEY=monitoring.dead

CONSUMER_TAG=monitoring-service-consumer

MAX_BATCH_SIZE=100